.section_main_paid{
    width: 1110px;
    height: auto;
    background: cadetblue;
    text-align: center;
    margin: 0 auto;
}
.transfer_id_paid_event h2{
    background: #0055B3;
    color: #FFF;
    width: 943px;
    margin-left: 90px; 
    border-radius: 15px;
    height: 93px;
    line-height: 93px;
    font-weight: 500;
    font-size: 40px;
    margin-right: 86px;  
}
.paid_ok_block{
    width: 120px;
    background:#FFC106; 
    text-align: center;
}
.ok_paid_event{
    width: 175px;
    height: 69px;
    margin-top: 17px;
    background: #FFC106;
    border: #FFC106;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;
}
.transfer_paid_event h2{
    padding-top: 100px;
}