.forgot_pass_main{
    width: 1026px;
    height: 788px;
    /* border: 1px solid black; */
    display: flex;
    /* margin-top: 40px;
    margin-bottom: 40px; */
    margin: 104px auto 80px auto;
}

.heading_forgot_pass{
    line-height: 35px;
    margin-top: 168px;
}
.forgot_password_second_{
    padding: 24px;
}
.heading_forgot_pass h3{
    color: #0055B3;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    }

 .heading_forgot_pass p{
     font-weight: 500;
     font-size: 14px;
 }   

.input_signup_fp{
    width: 437px;
    border-radius: 7px;
    height: 62px;
    color: #C4C4C4;
    font-weight: 500;
    font-size: 20px;
    padding-left: 11px;
    border: 3px solid #FFC106;
    margin-bottom: 10px;
}

.btn_btn_fp{
    width: 437px;
    height: 46px;
    background: #0055B3;
    font-size: 24px;
    font-weight: 500;

    border: #0055B3;
    border-radius: 7px;
    color:#fff;
}
.email_area_fp{
    margin-top: 84px;
}

.email_area_fp label {
    font-weight: 500;
    font-size: 20px;
}

.continue_btn_fp{
    margin-top: 47px;
}

.signup_fp_area{
    color: #0055B3;
}
.create_account_fp{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}