.book_book{
    width: 250px;
    height: 376px;
    margin-right: 55px;
    border: 1px solid black;
}

.main_book_str{
    width: 223px;
    margin-top: 49px;
    position: relative;
    margin-right: 55px;
}

.main_left_side{
    margin-left: 69px;
}

.book_rating_area{
    width: 97px;
    height: 37px;
    align-items: center;
    border-radius:12px;
    background: #FFFFFF;
    color: #0055B3;
    display: flex;
    position: absolute;
    top: 25px;
    left: 25px;
}

.books_main_book_header h2{
    color: #0055B3;
    font-size: 28px;
    font-weight: 600;

}
.star_book{
    width: 47px;
    height: 37px;
    background-color: #0055b3;
    border-radius: 12px;
}
.rating_number{
    margin-left: 9px;
}
.book_information_book{
    text-align: center;
    line-height: 27px;
}
.book_information_book h3{
    color: #0055B3;
    font-size: 18px;
    font-weight: 700;
}
.book_information_book p{
    font-size: 20px;
    font-weight: 700;
}
.price_book_main{
    width: 112px;
    height: 38px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    border-radius: 7px;
    background: #FFC106;
    color: #000000;
}

.main_book_right{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.right_main_side{
    margin-left: 32px;
}

.filter_categories{
    width: 343px;
    height: 427px;
    margin-top: 68px;
    border-radius: 5px;
    list-style: none;
    background: #F2F2F2;

}
.filter_book_text{
    color: #0055B3;  
    font-weight: 600;
    font-size: 28px;
    font-style: normal;
}
.cat_book_cat{
    padding-left: 101px;
    color: #0055B3; 
    padding-top: 20px;
}
.filter_categories li{
    padding-left: 50px;
    padding-top: 20px;
    align-items: center;
}
.filter_categories li:hover{
    color:  #FFC106;
}
.best_seller_image{
    margin-top: 29px;
}

.categorey_book_main_book{
    column-count: 2;
    width: 100%;
    text-align: center;

}
.categorey_book_main_book h3{
    font-weight: 500;
    padding-top: 25px;
    font-size: 16px;
    line-height: 19px;
}