.main_rest_password{
    display: flex;
    width: 1026px;
    height: 788px;
    margin: 104px auto 80px auto;
}
.restpass_two{
    width: 50%;
    margin-left: 39px;
}
.eye_svg_ress_pass{
    position: relative;
    left: -39px;
    top: 5px;
}
.r_p{
    line-height: 38px;
    margin-top: 143px;
    margin-bottom: 97px;
}
.input_signup_rp{
    width: 437px;
    border-radius: 7px;
    height: 62px;
    padding-left: 11px;
    border: 3px solid #FFC106;
    margin-bottom: 10px;
}

.continue_btn_rp{
    margin-top: 47px;
    padding-left: 10px;
}
.btn_btn_rp{
    width: 430px;
    font-size: 24px;
    font-weight: 500;
    height: 46px;
    background: #0055B3;
    border: #0055B3;
    border-radius: 7px;
    color:#fff;
    margin-left: -5px;
}
.r_p h3{
    font-size: 30px;
    font-weight: 800;
    color: #0055B3;
}
.rest_pass_and_confrim{
    display: grid;
    line-height: 28px;
}
.rest_pass_and_confrim label,input{
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
}